.card{
    width: 100px;
    height: 100px;
    background-color: #605d59;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}
.card:hover{
    background: linear-gradient(#bca013, #d3e208);
}
.O{
    background: linear-gradient(#2d2279, #0386a0);
    color: aliceblue;
}
.X{
    background: linear-gradient(#ff002f,#e5b791);
    color: aliceblue;
}
.O:hover{
    background: linear-gradient(#2d2279, #0386a0);
    color:black;
}
.X:hover{
    background: linear-gradient(#ff002f,#e5b791);
    color:black;
}


@media screen and ((max-width:500px) or (max-height : 500px)){
    .card{
        width: 80px;
        height: 80px;
    }
}