:root{
    --yellow:#ffc107;
}
#heading{
    color: bisque;
    justify-content: center;
    display: grid;
    font-size: 400%;
    margin: 10px;
}

@media screen and ((max-width:400px) or (max-height : 500px)){
    #heading{
        font-size: 200%;
    }
}